@font-face {
    font-family: 'alte_din_mittelschriftRgin_1451';
    src: url('/GameBase/Public/Fonts/alte-din-1451-mittelschrift.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'alte_din_mittelschriftRgin_1451';
}

html, body {
    background-color: #1F1E1E !important
}

.navbar {
    height: 55px;
}

.nbLogo {
    width: 90px;
    height: 50px;
}

.nLink {
    display: inline-block;
    position: relative;
    left: 690px;
    top: 360px;
}

.nItem1 {
    display: inline-block;
    transition: background-color 1s;
    place-content: center;
    top: -340px;
    left: 25px;
}

.nItem2 {
    display: inline-block;
    transition: background-color 1s;
    place-content: center;
    top: -380px;
    left: 95px;
}

.nItem3 {
    display: inline-block;
    transition: background-color 1s;
    place-content: center;
    top: -1px;
    left: -70px;
}

.nItem4 {
    display: inline-block;
    transition: background-color 1s;
    place-content: center;
    top: -1px;
    left: -40px;
}

.nItem5 {
    display: inline-block;
    transition: background-color 1s;
    place-content: center;
    top: -1px;
    left: -10px;
}

.nItem1:hover {
    background: linear-gradient(90deg, #7CFEF0, #DD0000, #FFA69E, #F3F2F8, transparent) #70FFC8;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.nItem2:hover {
    background: linear-gradient(90deg, #7CFEF0, #DD0000, #FFA69E, #F3F2F8, transparent) #70FFC8;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.nItem3:hover {
    background: linear-gradient(90deg, #7CFEF0, #DD0000, #FFA69E, #F3F2F8, transparent) #70FFC8;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.nItem4:hover {
    background: linear-gradient(90deg, #7CFEF0, #DD0000, #FFA69E, #F3F2F8, transparent) #70FFC8;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.nItem5:hover {
    background: linear-gradient(90deg, #7CFEF0, #DD0000, #FFA69E, #F3F2F8, transparent) #70FFC8;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.dropdown-menu-dark {
    background-color: black;
}

.ddItem:hover {
    transition: background-color 1s;
}
.ddItem:hover {
    background: linear-gradient(90deg, #D33F49, #F6F7EB,#2B9720 ,#3185FC, transparent) #E2A0FF;
    background-color: #FFA400;
    color: white;
    border-radius: 5px;
}

.bannerimage1 {
    display: inline;
    height: 550px;
    width: 1288px;

}

.bannerimage2 {
    height: 590px;
    width: 1288px;
}

.button1 {
    top: -85px;
    left: 1100px;
    transition: background-color 1s;
}

.button2 {
    background-color: black;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    top: 120px;
    left: 100px;
}

.button3 {
    background-color: black;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    top: 120px;
    left: 130px;
}

.button4 {
    background-color: black;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    top: 120px;
    left: 160px;
}

.button5 {
    background-color: black;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    top: 120px;
    left: 190px;
}

.button6 {
    background-color: black;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    top: 215px;
    left: -495px;
}

.footer {
    height: 60px;
}

.text1 {
    color: white;
    top: 5px;
    left: 10px;
}

.text2 {
    color: white;
    top: 5px;
    left: -395px;
}

.text3 {
    display: inline-block;
    top: 75px;
    left: 30px;
}


.text4 {
    display: inline-block;
    top: 3px;
}

.text5 {
    display: inline-block;
    top: 3px;
}

.text6 {
    display: inline-block;
    top: 3px;
}

.text7 {
    display: inline-block;
    top: 3px;
}

.text8 {
    display: inline-block;
    top: 3px;
}

.ftLogo {
    width: 50px;
    height: 30px;
    top: -1px;
    left: -190px;
}

.twLogo {
    display: inline;
    height: 40px;
    width: 40px;
    top:  -5px;
    left: 395px;
}


.fbLogo {
    display: inline;
    color: white;
    height: 35px;
    width: 60px;
    top: -5px;
    left: 240px;
}

.igLogo {
    display: inline;
    height: 40px;
    width: 40px;
    top:  -5px;
    left: -70px;
}

.container1 {
    top: 0px;
    left: -90px;
}

.heading1 {
    top: 40px;
    left: 520px;
    display: inline-block;
}











